@import "bower_components/sweetalert/lib/sweet-alert";

html, body {
  text-align: center;
  font-family: sans-serif;

  #wrapper {
    .section-link {
      background-color: #eaeaea;
      padding: 10px;
      margin-top: 2px;
    }

    a {
      text-decoration: none;
      color: darkred;
    }

    .phrase-group {
      margin-top: 2px;
      border: solid #b40000 2px;
      border-radius: 5px;
      color: #323232;
    }

    .selects {
    }

    .translation {
    }

    .pronunciation {
      font-style: italic;
    }

    #new {
      table {
        color: #323232;

        th {
          font-size: 0.8em;
        }
        margin: 5px auto;
        text-align: left;
        input {
          margin: 2px auto;
        }
      }
    }

    #words {
      text-align: left;
      font-size: 13px;
      th {
        width: 20%;
      }
    }
  }
}
