@import "bower_components/sweetalert/lib/sweet-alert";

html, body {
  text-align: center;
  font-family: sans-serif;

  #wrapper {
    .section-link {
      background-color: #eaeaea;
      padding: 10px;
      margin-top: 2px;
    }

    a {
      text-decoration: none;
      color: darkred;
    }

    .phrase-group {
      margin-top: 2px;
      border: solid #b40000 2px;
      border-radius: 5px;
      color: #323232;
    }

    .selects {
      select {
        width: 150px;
        height: 40px;
        font-size: 1em;
      }
    }

    .translation {
      font-size: 1.8em;
    }

    .pronunciation {
      font-style: italic;
      font-size: 1.3em;
    }

    #new {
      table {
        color: #323232;

        th {
          font-size: 0.8em;
        }
        margin: 5px auto;
        text-align: left;
        input {
          margin: 2px auto;
        }
      }
    }

    table#words {
      text-align: left;
      font-size: 13px;
      input {
        width: 85px;
      }
      th {
        width: 19%;

        &.edit {
          width: 2%;
        }
        &.delete {
          width: 3%;
        }
      }
    }
  }
}
