{{#link-to "dict.feelings"}}
  <div id="feelings-link" class="section-link">
    Feels and Hurts
  </div>
{{/link-to}}

<div id="feelings">
  {{liquid-outlet "feelings"}}
</div>

{{#link-to "dict.diseases"}}
  <div id="diseases-link" class="section-link">
    Your Gross Diseases
  </div>
{{/link-to}}

<div id="diseases">
  {{liquid-outlet "diseases"}}
</div>

{{#link-to "dict.medicines"}}
  <div id="medicines-link" class="section-link">
    Gimme some drugs, man!
  </div>
{{/link-to}}

<div id="medicines">
  {{liquid-outlet "medicines"}}
</div>

{{#link-to "dict.new"}}
  <div id="new-link" class="section-link">
    Add Word
  </div>
{{/link-to}}

<div id="new">
  {{liquid-outlet "new"}}
</div>
