<h1>Translate all the words!</h1>

Eng:
{{view Ember.Select content=model optionValuePath="content" optionLabelPath="content.eng" value=selectedEnglish}}
<br />

Jap:
{{inJap}}
<br />

Say it:
{{sayIt}}
