{{#link-to "dict.feelings"}}
  <div id="feelings-link" class="section-link">
    Feels and Hurts
  </div>
{{/link-to}}

<div id="feelings">
  {{outlet "feelings"}}
</div>

{{#link-to "dict.diseases"}}
  <div id="diseases-link" class="section-link">
    Your Gross Diseases
  </div>
{{/link-to}}

<div id="diseases">
  {{outlet "diseases"}}
</div>
