<div>
  {{#link-to "dict.feelings"}}Feelings and Hurtings{{/link-to}}
  {{outlet "feelings"}}
</div>

<div>
  {{#link-to "dict.diseases"}}Your Gross Diseases{{/link-to}}
  {{outlet "diseases"}}
</div>
